body {
  color: #333;
  padding: 60px 10px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.is-red {
  color: #f00 !important;
}
.l-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  padding: 10px;
  background-color: #2c3e50;
}
.l-cart {
  position: relative;
}
.l-cart-count {
  font-size: 12px;
  font-weight: 700;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #ecf0f1;
  background-color: #27ae60;
  border-radius: 50%;
  cursor: pointer;
}
.l-cart-items {
  position: absolute;
  top: 100%;
  right: 0;
  width: 270px;
  margin: 10px -10px 0 0;
  padding: 10px;
  font-size: 12px;
  background-color: #ecf0f1;
}
.l-cart-items:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15px;
  margin: 0 0 -2px 0;
  border: 10px solid transparent;
  border-bottom-color: #ecf0f1;
}
.l-cart-items li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.l-cart-item-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.l-cart-item-quantity {
  width: 30px;
  margin: 0 10px;
}
.l-cart-item-quantity input {
  display: block;
  border: none;
  padding: 5px;
  margin: 0;
  width: 100%;
  text-align: right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.l-cart-item-quantity input:focus {
  outline: none;
  background-color: #ffc;
}
.l-cart-item-quantity input::-webkit-outer-spin-button,
.l-cart-item-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.l-cart-item-subtotal {
  color: #000;
  width: 70px;
  text-align: right;
}
.l-cart-total {
  margin-top: 10;
  padding-top: 10px;
  text-align: right;
  border-top: 1px solid #bdc3c7;
}
.l-cart-total b {
  font-weight: 700;
  font-size: 1.4em;
}
.l-cart-empty {
  text-align: center;
  font-size: 1.4em;
  color: #95a5a6;
}
.l-stock > li {
  float: left;
  margin: 0 10px 10px 0;
}
.l-stock:after {
  content: "";
  clear: both;
}
.l-product {
  display: flex;
  color: #fff;
  cursor: pointer;
}
.l-product > div {
  padding: 10px;
}
.l-product-name {
  background-color: #2980b9;
}
.l-product-price {
  background-color: #3498db;
}
.is-on-cart .l-product-name {
  background-color: #27ae60;
}
.is-on-cart .l-product-price {
  background-color: #2ecc71;
}
